                   body {
                       font-size: 16px;
                       font-weight: 400;
                       font-family: var(--font-main);
                       color: var(--color-grey-dark)
                   }
                   
                   #textoDestaque {
                       color: deeppink;
                       text-align: center;
                       margin-bottom: 10 px;
                   }
                   
                   #botao {
                       background-color: deeppink;
                   }
                   
                   .nav-link.active {
                       color: deeppink;
                   }
                   
                   #linhaCards .card-text-nome {
                       color: blueviolet;
                       font-style: inherit;
                       text-align: center;
                       font-weight: bolder;
                       font-size: 80%;
                   }
                   
                   #linhaCards .card-text-preco {
                       color: black;
                       text-align: center;
                   }
                   
                   #linhaCards {
                       display: flex;
                       align-items: stretch;
                       margin: 5%;
                   }
                   
                   #linhaCards .item .card .card-body {
                       flex-direction: column;
                       display: flex;
                       justify-content: space-between;
                       border-top-left-radius: 16px !important;
                       border-top-right-radius: 16px !important;
                       width: 272px !important;
                       height: 100% !important;
                       border-radius: 16px !important;
                       box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15) !important;
                   }
                   
                   .image-back {
                       width: 100%;
                       height: 25vh;
                       display: block;
                       background-size: cover;
                       background-position: center;
                       border-top-left-radius: 16%;
                       border-top-right-radius: 16%;
                       padding-top: 67%;
                       overflow: hidden !important;
                       position: relative !important;
                   }
                   
                   #colunaCards {
                       margin-top: 20px;
                       border-top-left-radius: 16%;
                       border-top-right-radius: 16%;
                   }
                   
                   #rodape {
                       margin: 5px;
                       background-color: whitesmoke;
                       text-align: center;
                       color: blueviolet;
                       font-family: arial;
                       font-size: 80%;
                   }